syntax:glob
autom4te*
config.cache
config.log
config.status
build

# for Xcode
*.orig
*.swp
*.tmp
*.rej
*~
*.o
*.mode1*
*.model*
*.perspective*
*.perspective*
*.pbxuser
(^|/)build($|/)
.DS_Store

# for Visual C++
Debug
Release
Release64
Release-Local
Debug-Local
Release-Portable
LIB-Debug
LIB-Release
debug
release
ipch
_ReSharper*
*.user
*.ncb
*.suo
*.sdf
*.obj
*.aps
*.user
*.log
Thumb*
*.tlog
*.pdb
*.pch
*.opensdf
_Upgrade*
*.asmx
syntax: glob


*.old
*.db
